h1 {
        font-family: sans-serif;
        text-transform: uppercase;
    }

    button {
        padding: 20px;
        background: #F15C5C;
        color: #fff;
        border: 0;
        cursor: pointer;
    }

    button:disabled {
        background: #444;
        cursor: default;
    }
body{
	padding: 50px;
}