.FontStyle {
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Pacifico', cursive;
}

.FontStyleNav {
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Pacifico', cursive;
    color: grey;
}

h1 {
        font-family: sans-serif;
        text-transform: uppercase;
    }

    button {
        padding: 20px;
        background: #F15C5C;
        color: #fff;
        border: 0;
        cursor: pointer;
    }

    button:disabled {
        background: #444;
        cursor: default;
    }